@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "SuisseMono";
  src: url("/fonts/SuisseIntlMono.woff2") format("woff2"),
    url("/fonts/SuisseIntlMono.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Suisse";
  src: url("/fonts/SuisseIntl-Medium.woff2") format("woff2"),
    url("/fonts/SuisseIntl-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
}

body {
  @apply leading-tight;
}

@layer components {
  .section-heading {
    @apply font-mono text-xs uppercase mb-4;
  }
}

#map-container {
  position: relative;
}

.mapboxgl-control-container {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  @apply text-[10px] md:text-xs absolute bottom-1 left-1;
}

#landing-module-base {
  aspect-ratio: 1 / 2;
  @apply w-full relative;

  span {
    @apply tracking-tighter leading-none leading-none z-[2] pointer-events-none;
  }

  > * {
    @apply block absolute;
  }

  > div {
    @apply bg-white duration-700 z-[1];
    transition: none;

    > div {
      > img {
        @apply opacity-30 transition-opacity cursor-pointer max-h-[100vh] object-cover;

        &:hover {
          @apply opacity-60;
        }
      }
    }
  }
}

@media (orientation: portrait) {
  #landing-module-base {
    aspect-ratio: 1 / 1.75;

    span {
      @apply text-[29vw];
    }

    span.type-1 {
      @apply top-0 left-0 -indent-[0.07em];
    }

    span.type-2 {
      @apply top-[17%] right-0;
    }

    span.type-3 {
      @apply top-[51%] left-0 -indent-[0.07em];
    }

    span.type-4 {
      @apply top-[85%] right-0 left-[unset];
    }

    div.image-1 {
      @apply left-0 right-[unset] top-[68%] w-[31.2vw] aspect-[1];
    }

    div.image-2 {
      @apply left-0 top-[34%] w-[50vw] aspect-[1.66];
    }

    div.image-3 {
      @apply left-[unset] right-0 top-0 w-[26vw] aspect-[7/9];
    }

    div.image-4 {
      @apply left-[unset] right-0 top-[34%] w-[32vw] aspect-[7/9];
    }

    div.image-5 {
      @apply left-[unset] right-0 top-[68%] w-[50vw] aspect-[1.59];
    }
  }
}

@media (orientation: landscape) {
  #landing-module-base {
    aspect-ratio: 3 / 2;

    span {
      @apply text-[19vw];
    }

    span.type-1 {
      @apply top-0 left-0 -indent-[0.07em];
    }

    span.type-2 {
      @apply top-[25%] right-0;
    }

    span.type-3 {
      @apply top-[50%] left-0 -indent-[0.07em];
    }

    span.type-4 {
      @apply top-[50%] left-[30vw] right-[unset];
    }

    div.image-1 {
      @apply left-[unset] right-0 top-0 w-[25vw] h-[25vw];
    }

    div.image-2 {
      @apply left-0 top-[25%] w-[32vw] aspect-[1.66];
    }

    div.image-3 {
      @apply left-0 right-[unset] top-[75%] w-[12vw] aspect-[7/9];
    }

    div.image-4 {
      @apply left-[calc(12vw+1rem)] right-[unset] top-[75%] w-[12vw] aspect-[7/9];
    }

    div.image-5 {
      @apply left-[unset] right-0 top-[75%] w-[30vw] aspect-[1.59];
    }
  }
}

#landing-module-base {
  & > div {
    &.image-zoom {
      @apply bg-white/50 top-0 left-0 right-0 w-full h-[100vh] z-[20] border-0 aspect-auto fixed p-8 transition-opacity duration-1000;

      div {
        @apply w-full h-full relative;

        > img {
          @apply object-contain opacity-100;

          &:hover {
            @apply opacity-100;
          }
        }
      }
    }
  }
}
