@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "SuisseMono";
  src: url("/fonts/SuisseIntlMono.woff2") format("woff2"),
    url("/fonts/SuisseIntlMono.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Suisse";
  src: url("/fonts/SuisseIntl-Medium.woff2") format("woff2"),
    url("/fonts/SuisseIntl-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
}

body {
  @apply leading-tight;
}

@layer components {
  .section-heading {
    @apply font-mono text-xs uppercase mb-4;
  }
}

#map-container {
  position: relative;
}

.mapboxgl-control-container {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
}
